//Colors
$white : #fff;
$black : #000;

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

html, body {
	height: 100vh;
	width: 100vw;
}
body {
	//background-image: url("../../Assets/images/bkg_11.jpg");
	//background-size: cover;
	background-repeat: no-repeat;
	//padding: 3em 3em 0 3em;
	color: $white;
	background-position: center;
	font-family: 'Nunito', sans-serif;
}

section {
	text-align: center;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

.App, .main-wrapper, .dash-wrapper {
	height: 100%;
}

.top {
	width: 100%;
	display: flex;
}

.date, .weather {
	width: 50%;
}

.date {
	float: left;
	text-align: left;
}

.weather {
	float: right;
	text-align: right;
}

.hello-caoimhe {
	font-size: 218%;
}

.quote {
	font-size: 14px;
	font-family: 'Fira Sans', sans-serif;
	position: absolute;
	bottom: 5%;
	width: 100%;
	text-align: center;
}

.mainInfo {
	padding-top: 13%;
	display: block;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	font-size: 2em;
	height: 100%;
	position: relative;
}

.dash-wrapper {
	padding: 3em 3em 0 3em;
}

.App {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#bkg-1 {
	background-image: url("../../Assets/images/bkg_1.jpg");
}

#bkg-2 {
	background-image: url("../../Assets/images/bkg_2.jpg");
}

#bkg-3 {
	background-image: url("../../Assets/images/bkg_3.jpg");
}

#bkg-4 {
	background-image: url("../../Assets/images/bkg_4.jpg");
}

#bkg-5 {
	background-image: url("../../Assets/images/bkg_5.jpg");
}

#bkg-6 {
	background-image: url("../../Assets/images/bkg_6.jpg");
}

#bkg-7 {
	background-image: url("../../Assets/images/bkg_7.jpg");
}

#bkg-8 {
	background-image: url("../../Assets/images/bkg_8.jpg");
}

#bkg-9 {
	background-image: url("../../Assets/images/bkg_9.jpg");
}

#bkg-10 {
	background-image: url("../../Assets/images/bkg_10.jpg");
}

#bkg-11 {
	background-image: url("../../Assets/images/bkg_11.jpg");
}

#bkg-12 {
	background-image: url("../../Assets/images/bkg_12.jpg");
}

#bkg-13 {
	background-image: url("../../Assets/images/bkg_13.jpg");
}

#bkg-14 {
	background-image: url("../../Assets/images/bkg_14.jpg");
}

#bkg-15 {
	background-image: url("../../Assets/images/bkg_15.jpg");
}

#bkg-16 {
	background-image: url("../../Assets/images/bkg_16.jpg");
}

#bkg-17 {
	background-image: url("../../Assets/images/bkg_17.jpg");
}

#bkg-18 {
	background-image: url("../../Assets/images/bkg_18.jpg");
}

#bkg-19 {
	background-image: url("../../Assets/images/bkg_19.jpg");
}

#bkg-20 {
	background-image: url("../../Assets/images/bkg_20.jpg");
}

#bkg-21 {
	background-image: url("../../Assets/images/bkg_21.jpg");
}

#bkg-22 {
	background-image: url("../../Assets/images/bkg_22.jpg");
}

#bkg-23 {
	background-image: url("../../Assets/images/bkg_23.jpg");
}

#bkg-24 {
	background-image: url("../../Assets/images/bkg_24.jpg");
}

#bkg-25 {
	background-image: url("../../Assets/images/bkg_25.jpg");
}

#bkg-26 {
	background-image: url("../../Assets/images/bkg_26.jpg");
}

#bkg-27 {
	background-image: url("../../Assets/images/bkg_27.jpg");
}

#bkg-28 {
	background-image: url("../../Assets/images/bkg_28.jpg");
}

#bkg-29 {
	background-image: url("../../Assets/images/bkg_29.jpg");
}

#bkg-30 {
	background-image: url("../../Assets/images/bkg_30.jpg");
}

#bkg-31 {
	background-image: url("../../Assets/images/bkg_31.jpg");
}
